In [26]:
import pandas as pd
import os
path = "C:\\Users\\jpbet\\Desktop\\ETL Job\\Dext template.xlsx"

In [27]:
dfDext = pd.read_excel(path,engine='openpyxl')
columns=['ContactName','TransactionTypeName','VDate','Description','VNo','DueDate','TaxAmount','VatIncluded','CurrencyRate','AccountName','AccountCode','Price','TaxName','VatRate']
dfCapium = pd.DataFrame(columns=columns)
dfCapium.ContactName = dfDext.Supplier
dfCapium.TransactionTypeName = dfDext.Type
dfCapium.VDate = dfDext.Date
dfCapium.Description = dfDext.Image
dfCapium.TaxAmount = dfDext['VAT (GBP)']
dfCapium.Price = dfDext['Total (GBP)']
dfCapium.AccountName = dfDext.Category
dfCapium.VatIncluded = 'VAT INC'
dfCapium.TaxName = 'Custom VAT'
dfCapium.head(3)

,ContactName,TransactionTypeName,VDate,Description,VNo,DueDate,TaxAmount,VatIncluded,CurrencyRate,AccountName,AccountCode,Price,TaxName,VatRate
0,Whiting Landscape,Invoice,2023-10-31,https://rbnk.me/i/5H1cUM,NaN,NaN,30.0,VAT INC,NaN,Gardening,NaN,180.0,Custom VAT,NaN
1,MIDSHIRES GUTTERING,Invoice,2023-11-17,https://rbnk.me/i/bt37RtM,NaN,NaN,0.0,VAT INC,NaN,Expenses: Repairs and maintenance,NaN,1200.0,Custom VAT,NaN
2,Whiting Landscape,Invoice,2023-09-30,https://rbnk.me/i/tyxGQq6,NaN,NaN,30.0,VAT INC,NaN,Gardening,NaN,180.0,Custom VAT,NaN

In [ ]:
dfCapium.to_excel(os.path.join(outputpath,'CapiumConversion.xslx'),index=False)